# CityHub - fichero de configuracion
# Edita este fichero o usa el menu de configuracion del programa.

db_path=C:\Users\gaizka.yustes\Downloads\WorkspaceProyectoC\bd.db
admin_dni=8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918
admin_password=8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918
log_path=C:\Users\gaizka.yustes\Downloads\WorkspaceProyectoC\bd.log
max_negocios=100

# Servidor TCP
server_log_path=server.log
ip_servidor=127.0.0.1
puerto=8080
