# ─── Eclipse workspace ────────────────────────────────────────────────────────
/.metadata/
.recommenders/

# ─── Sistemas operativos ──────────────────────────────────────────────────────
.DS_Store
Thumbs.db
desktop.ini

