# Ignorar todo por defecto
*

# Excepciones: permitir el proyecto del grupo
!Grupo-05_Prog-IV_Deusto_Server/
!Grupo-05_Prog-IV_Deusto_Server/**

# Ignorar archivos de Eclipse dentro del proyecto del grupo
Grupo-05_Prog-IV_Deusto_Server/.settings/
Grupo-05_Prog-IV_Deusto_Server/Debug/
Grupo-05_Prog-IV_Deusto_Server/Release/

# Ignorar binarios y archivos compilados
Grupo-05_Prog-IV_Deusto_Server/**/*.o
Grupo-05_Prog-IV_Deusto_Server/**/*.exe
Grupo-05_Prog-IV_Deusto_Server/**/*.d

# Cuando crees el cliente C++, añade esto:
!Grupo-05_Prog-IV_Deusto_Client/
!Grupo-05_Prog-IV_Deusto_Client/**
Grupo-05_Prog-IV_Deusto_Client/.settings/
Grupo-05_Prog-IV_Deusto_Client/Debug/
Grupo-05_Prog-IV_Deusto_Client/Release/
Grupo-05_Prog-IV_Deusto_Client/**/*.o
Grupo-05_Prog-IV_Deusto_Client/**/*.exe
Grupo-05_Prog-IV_Deusto_Client/**/*.d